{
    "openapi": "3.0.0",
    "info": {
        "title": "API Kazaplan",
        "description": "API Kazaplan implementing Kazaplan Tool",
        "version": "feature/pm2",
        "contact": {
            "name": "Kazaplan",
            "url": "https://www.kazaplan.com",
            "email": "contact@kazaplan.com"
        }
    },
    "tags": [],
    "servers": [
        {
            "url": "https://api.kazaplan.com"
        }
    ],
    "components": {
        "securitySchemes": {
            "bearer": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            },
            "oauth2": {
                "type": "oauth2",
                "flows": {
                    "clientCredentials": {
                        "scopes": {
                            "credit:read": "Retrieve credit counters",
                            "credit:write": "Create many Credits",
                            "media:read": "Retrieve many or one Media",
                            "media:write": "Create/Update/Delete one Media",
                            "order:read": "Retrieve many or one Order",
                            "order:write": "Create/Update one Order",
                            "partner:read": "Retrieve many or one Partner",
                            "partner:write": "Create/Update/Delete one Partner",
                            "payment:read": "Retrieve one Payment",
                            "payment:write": "Create one Payment",
                            "plan:read": "Retrieve many or one Plan",
                            "plan:write": "Create/Update/Delete one Plan",
                            "product:read": "Retrieve many Product",
                            "product:write": "Create/Update/Delete one Product",
                            "project:read": "Retrieve many Project",
                            "project:write": "Create/Update/Delete one Project",
                            "template:read": "Retrieve many or one Template",
                            "template:write": "Create/Update/Delete one Template",
                            "user:read": "Retrieve many or one User",
                            "user:write": "Create/Update/Delete one User"
                        },
                        "tokenUrl": "https://api.kazaplan.com/oauth/token",
                        "refreshUrl": "https://api.kazaplan.com/oauth/token"
                    },
                    "password": {
                        "scopes": {
                            "credit:read": "Retrieve credit counters",
                            "credit:write": "Create many Credits",
                            "media:read": "Retrieve many or one Media",
                            "media:write": "Create/Update/Delete one Media",
                            "order:read": "Retrieve many or one Order",
                            "order:write": "Create/Update one Order",
                            "partner:read": "Retrieve many or one Partner",
                            "partner:write": "Create/Update/Delete one Partner",
                            "payment:read": "Retrieve one Payment",
                            "payment:write": "Create one Payment",
                            "plan:read": "Retrieve many or one Plan",
                            "plan:write": "Create/Update/Delete one Plan",
                            "product:read": "Retrieve many Product",
                            "product:write": "Create/Update/Delete one Product",
                            "project:read": "Retrieve many Project",
                            "project:write": "Create/Update/Delete one Project",
                            "template:read": "Retrieve many or one Template",
                            "template:write": "Create/Update/Delete one Template",
                            "user:read": "Retrieve many or one User",
                            "user:write": "Create/Update/Delete one User"
                        },
                        "tokenUrl": "https://api.kazaplan.com/oauth/token",
                        "refreshUrl": "https://api.kazaplan.com/oauth/token"
                    },
                    "authorizationCode": {
                        "scopes": {
                            "credit:read": "Retrieve credit counters",
                            "credit:write": "Create many Credits",
                            "media:read": "Retrieve many or one Media",
                            "media:write": "Create/Update/Delete one Media",
                            "order:read": "Retrieve many or one Order",
                            "order:write": "Create/Update one Order",
                            "partner:read": "Retrieve many or one Partner",
                            "partner:write": "Create/Update/Delete one Partner",
                            "payment:read": "Retrieve one Payment",
                            "payment:write": "Create one Payment",
                            "plan:read": "Retrieve many or one Plan",
                            "plan:write": "Create/Update/Delete one Plan",
                            "product:read": "Retrieve many Product",
                            "product:write": "Create/Update/Delete one Product",
                            "project:read": "Retrieve many Project",
                            "project:write": "Create/Update/Delete one Project",
                            "template:read": "Retrieve many or one Template",
                            "template:write": "Create/Update/Delete one Template",
                            "user:read": "Retrieve many or one User",
                            "user:write": "Create/Update/Delete one User"
                        },
                        "tokenUrl": "https://api.kazaplan.com/oauth/token",
                        "refreshUrl": "https://api.kazaplan.com/oauth/token",
                        "authorizationUrl": "https://api.kazaplan.com/oauth/authorize"
                    },
                    "implicit": {
                        "scopes": {
                            "credit:read": "Retrieve credit counters",
                            "credit:write": "Create many Credits",
                            "media:read": "Retrieve many or one Media",
                            "media:write": "Create/Update/Delete one Media",
                            "order:read": "Retrieve many or one Order",
                            "order:write": "Create/Update one Order",
                            "partner:read": "Retrieve many or one Partner",
                            "partner:write": "Create/Update/Delete one Partner",
                            "payment:read": "Retrieve one Payment",
                            "payment:write": "Create one Payment",
                            "plan:read": "Retrieve many or one Plan",
                            "plan:write": "Create/Update/Delete one Plan",
                            "product:read": "Retrieve many Product",
                            "product:write": "Create/Update/Delete one Product",
                            "project:read": "Retrieve many Project",
                            "project:write": "Create/Update/Delete one Project",
                            "template:read": "Retrieve many or one Template",
                            "template:write": "Create/Update/Delete one Template",
                            "user:read": "Retrieve many or one User",
                            "user:write": "Create/Update/Delete one User"
                        },
                        "refreshUrl": "https://api.kazaplan.com/oauth/token",
                        "authorizationUrl": "https://api.kazaplan.com/oauth/authorize"
                    }
                }
            }
        },
        "schemas": {
            "HealthResponse": {
                "type": "object",
                "properties": {
                    "database": {
                        "type": "object",
                        "readOnly": true,
                        "example": {
                            "status": "up"
                        }
                    }
                },
                "required": [
                    "database"
                ]
            },
            "Response401": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "readOnly": true,
                        "example": 401
                    },
                    "error": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Unauthorized"
                    }
                },
                "required": [
                    "statusCode",
                    "error"
                ]
            },
            "Response500": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "readOnly": true,
                        "example": 500
                    },
                    "message": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Internal server error"
                    }
                },
                "required": [
                    "statusCode",
                    "message"
                ]
            },
            "GetManyCreditResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Credit"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Credit": {
                "type": "object",
                "properties": {
                    "userId": {
                        "type": "number"
                    },
                    "partnerId": {
                        "type": "number"
                    }
                },
                "required": [
                    "userId"
                ]
            },
            "CreditCreateMany": {
                "type": "object",
                "properties": {
                    "bulk": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Credit"
                        }
                    }
                },
                "required": [
                    "bulk"
                ]
            },
            "Response403": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "readOnly": true,
                        "example": 403
                    },
                    "error": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Forbidden"
                    },
                    "message": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Forbidden resource"
                    }
                },
                "required": [
                    "statusCode",
                    "error",
                    "message"
                ]
            },
            "CreateManyCreditDto": {
                "type": "object",
                "properties": {
                    "bulk": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Credit"
                        }
                    }
                },
                "required": [
                    "bulk"
                ]
            },
            "Counter": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "number",
                        "readOnly": true,
                        "example": "AVAILABLE"
                    },
                    "count": {
                        "type": "number",
                        "readOnly": true,
                        "example": 1
                    }
                }
            },
            "Country": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "readOnly": true,
                        "example": "FR"
                    },
                    "name": {
                        "type": "string",
                        "readOnly": true,
                        "example": "France"
                    }
                }
            },
            "CountryPaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Country"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "ValidationError": {
                "type": "object",
                "properties": {
                    "target": {
                        "type": "object",
                        "readOnly": true
                    },
                    "property": {
                        "type": "string",
                        "readOnly": true,
                        "example": "username"
                    },
                    "value": {
                        "type": "object",
                        "readOnly": true
                    },
                    "children": {
                        "readOnly": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    },
                    "constraints": {
                        "type": "object",
                        "readOnly": true,
                        "example": {
                            "isNotEmpty": "username should not be empty",
                            "maxLength": "username must be shorter than or equal to 80 characters"
                        }
                    }
                },
                "required": [
                    "target",
                    "property",
                    "value",
                    "children",
                    "constraints"
                ]
            },
            "Response400": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "readOnly": true,
                        "example": 400
                    },
                    "error": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Bad Request"
                    },
                    "message": {
                        "readOnly": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ValidationError"
                        }
                    }
                },
                "required": [
                    "statusCode",
                    "error",
                    "message"
                ]
            },
            "GetManyMediaResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Media"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Media": {
                "type": "object",
                "properties": {}
            },
            "MediaCreate": {
                "type": "object",
                "properties": {
                    "file": {
                        "type": "string",
                        "format": "binary"
                    },
                    "metadata": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "enum": [
                            "CAPTURE_HD",
                            "CAPTURE_360",
                            "CAPTURE_2D",
                            "CAPTURE_3D",
                            "CAPTURE_AUTO",
                            "PREVIEW"
                        ]
                    }
                },
                "required": [
                    "file",
                    "type"
                ]
            },
            "Thumbnails": {
                "type": "object",
                "properties": {
                    "small": {
                        "type": "string",
                        "readOnly": true
                    },
                    "medium": {
                        "type": "string",
                        "readOnly": true
                    },
                    "large": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "small",
                    "medium",
                    "large"
                ]
            },
            "MediaResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "readOnly": true
                    },
                    "planId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "userId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "type": {
                        "type": "string",
                        "readOnly": true,
                        "example": "CAPTURE_AUTO"
                    },
                    "metadata": {
                        "type": "object",
                        "readOnly": true
                    },
                    "thumbnails": {
                        "readOnly": true,
                        "$ref": "#/components/schemas/Thumbnails"
                    },
                    "previewAvailable": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "mediaAvailable": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "thumbnailDone": {
                        "type": "boolean",
                        "readOnly": true
                    },
                    "errorMessage": {
                        "type": "string",
                        "readOnly": true
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "id",
                    "planId",
                    "userId",
                    "type",
                    "metadata",
                    "thumbnails",
                    "previewAvailable",
                    "mediaAvailable",
                    "thumbnailDone",
                    "errorMessage",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "MediaUpdate": {
                "type": "object",
                "properties": {
                    "metadata": {
                        "type": "string",
                        "example": "{ floorIndex: 1, type: \"2d\" }"
                    },
                    "previewAvailable": {
                        "type": "boolean",
                        "example": false
                    },
                    "mediaAvailable": {
                        "type": "boolean",
                        "example": false
                    },
                    "errorMessage": {
                        "type": "string",
                        "example": "404"
                    },
                    "thumbnailDone": {
                        "type": "boolean",
                        "example": true
                    }
                }
            },
            "Response404": {
                "type": "object",
                "properties": {
                    "statusCode": {
                        "type": "number",
                        "readOnly": true,
                        "example": 404
                    },
                    "error": {
                        "type": "string",
                        "readOnly": true,
                        "example": "Not Found"
                    },
                    "message": {
                        "type": "string",
                        "readOnly": true,
                        "example": "User not found"
                    }
                },
                "required": [
                    "statusCode",
                    "error",
                    "message"
                ]
            },
            "MediaResponsePaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MediaResponse"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyOrderResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Order"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Order": {
                "type": "object",
                "properties": {}
            },
            "OrderUpdate": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "enum": [
                            "INGENICO_AUTHORIZED",
                            "CREATED",
                            "CANCELED",
                            "CANCELED_UNAVAILABLE_PRODUCT",
                            "PAYMENT_INVALID_OR_INCOMPLETE",
                            "PAYMENT_CANCELED",
                            "PAYMENT_REFUSED",
                            "PAYMENT_ACCEPTED",
                            "PAYMENT_AUTHORIZED",
                            "DELIVERED",
                            "INVOICE_DELIVERED",
                            "ERROR"
                        ],
                        "example": "PAYMENT_AUTHORIZED"
                    }
                },
                "required": [
                    "status"
                ]
            },
            "Address": {
                "type": "object",
                "properties": {
                    "gender": {
                        "type": "string",
                        "enum": [
                            "MR",
                            "MRS"
                        ],
                        "example": "MR"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "zipCode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    }
                },
                "required": [
                    "gender",
                    "firstName",
                    "lastName",
                    "zipCode",
                    "city",
                    "address",
                    "country"
                ]
            },
            "OrderLine": {
                "type": "object",
                "properties": {
                    "productId": {
                        "type": "number"
                    },
                    "quantity": {
                        "type": "number",
                        "default": 1,
                        "minimum": 1,
                        "example": 1
                    }
                },
                "required": [
                    "productId"
                ]
            },
            "OrderResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "number": {
                        "type": "string",
                        "readOnly": true
                    },
                    "status": {
                        "type": "string",
                        "readOnly": true,
                        "enum": [
                            "INGENICO_AUTHORIZED",
                            "CREATED",
                            "CANCELED",
                            "CANCELED_UNAVAILABLE_PRODUCT",
                            "PAYMENT_INVALID_OR_INCOMPLETE",
                            "PAYMENT_CANCELED",
                            "PAYMENT_REFUSED",
                            "PAYMENT_ACCEPTED",
                            "PAYMENT_AUTHORIZED",
                            "DELIVERED",
                            "INVOICE_DELIVERED",
                            "ERROR"
                        ],
                        "example": "PAYMENT_AUTHORIZED"
                    },
                    "userId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "partnerId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "address": {
                        "readOnly": true,
                        "$ref": "#/components/schemas/Address"
                    },
                    "lines": {
                        "readOnly": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderLine"
                        }
                    },
                    "totalPriceIncludingTax": {
                        "type": "number",
                        "readOnly": true
                    },
                    "totalPriceExcludingTax": {
                        "type": "number",
                        "readOnly": true
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "id",
                    "number",
                    "status",
                    "userId",
                    "partnerId",
                    "address",
                    "lines",
                    "totalPriceIncludingTax",
                    "totalPriceExcludingTax",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "OrderCreate": {
                "type": "object",
                "properties": {
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "lines": {
                        "minItems": 1,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderLine"
                        }
                    }
                },
                "required": [
                    "address",
                    "lines"
                ]
            },
            "OrderResponsePaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/OrderResponse"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyPartnerResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Partner"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Partner": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "name": {
                        "type": "string"
                    },
                    "logo": {
                        "type": "string"
                    },
                    "logoSquare": {
                        "type": "string"
                    },
                    "hasBasicRegistration": {
                        "type": "boolean"
                    },
                    "tos": {
                        "type": "string"
                    },
                    "tosUrl": {
                        "type": "string"
                    },
                    "urlEditPlan": {
                        "type": "string"
                    },
                    "urlShowPlan": {
                        "type": "string"
                    },
                    "urlCreatePlan": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    },
                    "urlUserData": {
                        "type": "string"
                    },
                    "visible": {
                        "type": "boolean"
                    },
                    "key": {
                        "type": "string",
                        "readOnly": true
                    },
                    "integration": {
                        "type": "string",
                        "enum": [
                            "fullrest",
                            "external"
                        ],
                        "example": "fullrest"
                    },
                    "hasModels": {
                        "type": "boolean"
                    },
                    "create3dModel": {
                        "type": "boolean"
                    },
                    "hasAd": {
                        "type": "boolean"
                    },
                    "showLoginModal": {
                        "type": "boolean"
                    },
                    "loginModalTimeout": {
                        "type": "number"
                    },
                    "freeCredits": {
                        "type": "number"
                    }
                },
                "required": [
                    "name",
                    "logo",
                    "logoSquare",
                    "hasBasicRegistration",
                    "tos",
                    "tosUrl",
                    "urlEditPlan",
                    "urlShowPlan",
                    "urlCreatePlan",
                    "url",
                    "urlUserData",
                    "visible",
                    "integration",
                    "hasModels",
                    "create3dModel",
                    "hasAd",
                    "showLoginModal",
                    "loginModalTimeout",
                    "freeCredits"
                ]
            },
            "PartnerPaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Partner"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyPlanResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Plan"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Plan": {
                "type": "object",
                "properties": {}
            },
            "PlanResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "title": {
                        "type": "string",
                        "readOnly": true
                    },
                    "description": {
                        "type": "string",
                        "readOnly": true
                    },
                    "fileName": {
                        "type": "number",
                        "readOnly": true
                    },
                    "userId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "partnerId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "projectId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "originId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "cloneId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "version": {
                        "type": "number",
                        "readOnly": true
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "id",
                    "title",
                    "description",
                    "fileName",
                    "userId",
                    "partnerId",
                    "projectId",
                    "originId",
                    "cloneId",
                    "version",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "PlanUpdate": {
                "type": "object",
                "properties": {
                    "projectId": {
                        "type": "number"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "file": {
                        "type": "string",
                        "format": "binary"
                    }
                }
            },
            "PlanCreate": {
                "type": "object",
                "properties": {
                    "projectId": {
                        "type": "number"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "file": {
                        "type": "string",
                        "format": "binary"
                    },
                    "originId": {
                        "type": "number"
                    },
                    "cloneId": {
                        "type": "number"
                    }
                },
                "required": [
                    "title",
                    "file"
                ]
            },
            "PlanResponsePaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PlanResponse"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyProductResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Product": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "unit": {
                        "type": "number"
                    },
                    "priceIncludingTax": {
                        "type": "number",
                        "example": 4.99
                    },
                    "priceExcludingTax": {
                        "type": "number",
                        "example": 3.99
                    },
                    "vat": {
                        "type": "number",
                        "example": 20
                    },
                    "name": {
                        "type": "string"
                    },
                    "active": {
                        "type": "boolean"
                    },
                    "discount": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "unit",
                    "priceIncludingTax",
                    "priceExcludingTax",
                    "vat",
                    "name",
                    "active",
                    "discount",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "ProductPaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyProjectResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Project"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Project": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "title",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "ProjectPaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Project"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyUserResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "username": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "plainPassword": {
                        "type": "string"
                    },
                    "address": {
                        "$ref": "#/components/schemas/Address"
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string",
                        "readOnly": true
                    },
                    "updatedAt": {
                        "type": "string",
                        "readOnly": true
                    }
                },
                "required": [
                    "id",
                    "username",
                    "email",
                    "plainPassword",
                    "address",
                    "enabled",
                    "createdAt",
                    "updatedAt"
                ]
            },
            "UserPaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/User"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "GetManyTemplateResponseDto": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Template"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "Template": {
                "type": "object",
                "properties": {}
            },
            "TemplateCreate": {
                "type": "object",
                "properties": {
                    "mediaId": {
                        "type": "string"
                    },
                    "planId": {
                        "type": "number"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "galleryMode": {
                        "type": "string",
                        "enum": [
                            "edit",
                            "viewer"
                        ]
                    }
                },
                "required": [
                    "planId"
                ]
            },
            "TemplateResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "number",
                        "readOnly": true
                    },
                    "partnerId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "planId": {
                        "type": "number",
                        "readOnly": true
                    },
                    "mediaId": {
                        "type": "string",
                        "readOnly": true
                    },
                    "position": {
                        "type": "number",
                        "readOnly": true
                    },
                    "name": {
                        "type": "string",
                        "readOnly": true
                    },
                    "description": {
                        "type": "string",
                        "readOnly": true
                    },
                    "galleryMode": {
                        "type": "string",
                        "readOnly": true
                    },
                    "useViewerImage": {
                        "type": "boolean",
                        "readOnly": true
                    }
                },
                "required": [
                    "id",
                    "partnerId",
                    "planId",
                    "mediaId",
                    "position",
                    "name",
                    "description",
                    "galleryMode",
                    "useViewerImage"
                ]
            },
            "TemplateUpdate": {
                "type": "object",
                "properties": {
                    "mediaId": {
                        "type": "string"
                    },
                    "title": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "galleryMode": {
                        "type": "string",
                        "enum": [
                            "edit",
                            "viewer"
                        ]
                    }
                }
            },
            "TemplateResponsePaginate": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TemplateResponse"
                        }
                    },
                    "count": {
                        "type": "number"
                    },
                    "total": {
                        "type": "number"
                    },
                    "page": {
                        "type": "number"
                    },
                    "pageCount": {
                        "type": "number"
                    }
                },
                "required": [
                    "data",
                    "count",
                    "total",
                    "page",
                    "pageCount"
                ]
            },
            "PaymentItemResponse": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "readOnly": true,
                        "example": "ORDERID"
                    },
                    "value": {
                        "type": "string",
                        "readOnly": true,
                        "example": "KKZHD010120-00001"
                    }
                },
                "required": [
                    "name",
                    "value"
                ]
            },
            "PaymentResponse": {
                "type": "object",
                "properties": {
                    "formUrl": {
                        "type": "string",
                        "readOnly": true,
                        "example": "https://"
                    },
                    "formData": {
                        "readOnly": true,
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PaymentItemResponse"
                        }
                    }
                },
                "required": [
                    "formUrl",
                    "formData"
                ]
            }
        }
    },
    "paths": {
        "/v4/health": {
            "get": {
                "operationId": "healthHealthCheck",
                "summary": "Health check",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Default"
                ],
                "security": [
                    {
                        "oauth2": []
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/credits/bulk": {
            "post": {
                "operationId": "creditsCreateManyCredit",
                "summary": "Create many Credit",
                "parameters": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreditCreateMany"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Credit"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Credits"
                ],
                "security": [
                    {
                        "oauth2": [
                            "credit:write"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/users/{userId}/credits/_count": {
            "get": {
                "operationId": "usersRetrieveCreditCounters",
                "summary": "Retrieve Credit counters",
                "parameters": [
                    {
                        "name": "userId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/Counter"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Credits"
                ],
                "security": [
                    {
                        "oauth2": [
                            "credit:read"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/countries": {
            "get": {
                "operationId": "countriesRetrieveAllCountries",
                "summary": "Retrieve all Countries",
                "parameters": [
                    {
                        "name": "Accept-Language",
                        "in": "header",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "required": false,
                        "in": "query",
                        "description": "This route returns always all countries",
                        "deprecated": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountryPaginate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Countries"
                ],
                "security": [
                    {
                        "oauth2": []
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/plans/{planId}/medias": {
            "post": {
                "operationId": "plansCreateOneMedia",
                "summary": "Create one Media",
                "parameters": [
                    {
                        "name": "planId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/MediaCreate"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:write"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "operationId": "plansRetrieveManyMedia",
                "summary": "Retrieve many Media",
                "parameters": [
                    {
                        "name": "planId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Selects resource fields. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#select\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "s",
                        "description": "Adds search condition. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#search\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "description": "Adds filter condition. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#filter\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "or",
                        "description": "Adds OR condition. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#or\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "sort",
                        "description": "Adds sort by field. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#sort\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "join",
                        "description": "Adds relational resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#join\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "perPage",
                        "description": "Limit amount of resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#limit\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "description": "Offset amount of resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#offset\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "description": "Page portion of resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#page\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cache",
                        "description": "Reset cache (if was enabled). <a href=\"https://github.com/nestjsx/crud/wiki/Requests#cache\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponsePaginate"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/plans/{planId}/medias/{id}": {
            "patch": {
                "operationId": "plansUpdateOneMedia",
                "summary": "Update one Media",
                "parameters": [
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "planId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MediaUpdate"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response400"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:write"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            },
            "get": {
                "operationId": "plansRetrieveOneMedia",
                "summary": "Retrieve one Media",
                "parameters": [
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "planId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Selects resource fields. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#select\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "join",
                        "description": "Adds relational resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#join\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "cache",
                        "description": "Reset cache (if was enabled). <a href=\"https://github.com/nestjsx/crud/wiki/Requests#cache\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response404"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            },
            "delete": {
                "operationId": "plansDeleteOneMedia",
                "summary": "Delete one Media",
                "parameters": [
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "planId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponse"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": ""
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response404"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:write"
                        ]
                    },
                    {
                        "bearer": []
                    },
                    {
                        "oauth2": [
                            "media:write"
                        ]
                    },
                    {
                        "oauth2": [
                            "media:write"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/users/{userId}/medias/{id}": {
            "get": {
                "operationId": "usersRetrieveOneMedia",
                "summary": "Retrieve one Media",
                "parameters": [
                    {
                        "name": "id",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "userId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Selects resource fields. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#select\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "join",
                        "description": "Adds relational resources. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#join\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": true
                    },
                    {
                        "name": "cache",
                        "description": "Reset cache (if was enabled). <a href=\"https://github.com/nestjsx/crud/wiki/Requests#cache\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MediaResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response401"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response403"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response404"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Response500"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Medias"
                ],
                "security": [
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "oauth2": [
                            "media:read"
                        ]
                    },
                    {
                        "bearer": []
                    }
                ]
            }
        },
        "/v4/users/{userId}/medias": {
            "get": {
                "operationId": "usersRetrieveManyMedia",
                "summary": "Retrieve many Media",
                "parameters": [
                    {
                        "name": "userId",
                        "required": true,
                        "in": "path",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "fields",
                        "description": "Selects resource fields. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#select\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "style": "form",
                        "explode": false
                    },
                    {
                        "name": "s",
                        "description": "Adds search condition. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#search\" target=\"_blank\">Docs</a>",
                        "required": false,
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter",
                        "description": "Adds filter condition. <a href=\"https://github.com/nestjsx/crud/wiki/Requests#filter\" target=\"_blank\">Docs</a>",
[...]
